___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [172]:
import pandas as pd
import numpy as np

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [9]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [116]:
sal[(sal['EmployeeName']=='JOSEPH DRISCOLL')]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [135]:
sal[(sal['EmployeeName']=='JOSEPH DRISCOLL')]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [130]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [133]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [107]:
sal.groupby(by='Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [37]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [106]:
sal.groupby('JobTitle')['JobTitle'].count().sort_values(ascending=False).head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [144]:
sal[(sal['Year'] == 2013)].count()['JobTitle']

37606

In [198]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [214]:
l = sal['JobTitle']
count = 0
for i in l:
    m = i.lower().split()
    for x in m:
        if x == 'chief':
            count = count + 1
print(count)

477

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [216]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [219]:
sal[['JobTitle','title_len']]

                                                JobTitle  title_len
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                        CAPTAIN III (POLICE DEPARTMENT)         31
2                        CAPTAIN III (POLICE DEPARTMENT)         31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
5                              ASSISTANT DEPUTY CHIEF II         25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
7                         DEPUTY DIRECTOR OF INVESTMENTS         30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         48
11                       CAPTAIN III (POLICE DEPARTMENT)         31
12                           EXECUTIVE CONTRACT EMPLOYEE         27
13                                     DEPARTMENT HEAD V         17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
15                    COMMANDER III, (POLICE DEPARTMENT)         34
16                                     DEPARTMENT HEAD V         17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES         37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
19                            ASSISTANT MEDICAL EXAMINER         26
20                            ASSISTANT MEDICAL EXAMINER         26
21                            ASSISTANT MEDICAL EXAMINER         26
22                             CAPTAIN, FIRE SUPPRESSION         25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
24                             CAPTAIN, FIRE SUPPRESSION         25
25                                       CHIEF OF POLICE         15
26                             CAPTAIN, FIRE SUPPRESSION         25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)         36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                  ...        ...
148624                                      Senior Clerk         12
148625                                  Registered Nurse         16
148626                                     Account Clerk         13
148627                                   General Laborer         15
148628                                   General Laborer         15
148629                                Transcriber Typist         18
148630                                         Carpenter          9
148631                       Communications Dispatcher 1         27
148632                        Protective Services Worker         26
148633                                   General Laborer         15
148634                               Transit Car Cleaner         19
148635                                   General Laborer         15
148636                               Arborist Technician         19
148637                            Transit Fare Inspector         22
148638                                       Electrician         11
148639                                         Custodian          9
148640                           Parking Control Officer         23
148641                                      Museum Guard         12
148642                                       Sign Worker         11
148643                           Parking Control Officer         23
148644                      Stationary Eng, Sewage Plant         28
148645                         Human Services Technician         25
148646                                      Not provided         12
148647                       Communications Dispatcher 2         27
148648                                         Custodian          9
148649                                         Custodian          9
148650                                      Not provided         12
148651                                      Not provided         12
148652                                      Not provided         12
148653                        Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [220]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

# Great Job!